<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus.jouyuejiache_dashixun1">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/> -->
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".activity.log.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
    <span style="white-space:pre">	</span><activity
        android:name=".activity.shouye_Gride8liedianji.First_Baoming_Activity"
        android:label="@string/instrument_mgr" >
    </activity>
        <activity
            android:name=".activity.First_LogActivity"
            android:label="@string/station_mgr" >
        </activity>
        -->
        //添加service声明
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Pleasing_imageActivity" />
        <activity android:name=".activity.DrivingActivity" />
        <activity android:name=".activity.StudytimeActivity" />
        <activity android:name=".activity.First_shouyeActivity" />
        <activity android:name=".activity.BangDingCarActivity" />
        <activity android:name=".activity.KeErShiPing_Activity" />
        <activity android:name=".activity.First_LogActivity" />
        <activity android:name=".activity.Fist_RejsterActivity" />
        <activity android:name=".activity.city_dinwei.First_DingWeiActivity" />
        <activity android:name=".activity.Jyue_pingtuanActivity" />
        //定位Key值
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b5139a691c38640bcbe5b6a68e69ae28" />
        //QQ
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.shouye_jiaxiaoxq.Shouye_XiangqinActivity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_YDSupperActivity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_Baoming_Activity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_YueKaoActivity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_Banner1_Activity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_Banner2Activity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_Banner3Activity" />
        <activity android:name=".activity.shouye_gengduo.Gengduo_Activity" />
        <activity android:name=".activity.shouye_jiaxiaoxq.reimen_bz.Reimen_Zhengchang1Activity" />
        <activity android:name=".activity.shouye_jiaxiaoxq.reimen_bz.Reimen_Quanguo2Activity" />
        <activity android:name=".activity.shouye_jiaxiaoxq.reimen_bz.ReiMen_ZCLX3Activity" />
        <activity android:name=".activity.shouye_gengduo.Toutiao_Xq_Activity" />
        <activity android:name=".activity.shouye_Gride8liedianji.First_CarSupperActivity" />
        <activity android:name=".activity.expert2_jiakaozj.ke_er.StudyCar_Activity" />
        <activity android:name=".activity.shouye_gengduo.Toutiao_WebActivity" />
        <activity android:name=".activity.expert2_jiakaozj.ke_er.KeEr_YuYinActivity" />
        <activity android:name=".activity.expert2_jiakaozj.ke_san.KeSan_YuYinActivity"></activity>
    </application>

</manifest>